# Compiled class file
**/*.class

### Eclipse ###
bin/
/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse Workspace
.metadata
.recommenders
.classpath
.project
**/.settings
RemoteSystemsTempFiles
